# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

jeopardy = pd.read_csv('jeopardy.csv')
jeopardy.columns = ['show_number', 'air_date', 'jeo_round', 'category', 'value', 'question', 'answer']
print(jeopardy.head(5))

   show_number    air_date  jeo_round                         category value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [2]:
def filter_rows_exact(data,words):
    return data[
        data.question.apply(
            lambda row: all(w in row for w in words)
        )
    ]

results = filter_rows_exact(jeopardy,["King", "England"])
print(results.question.head())
print(results.question.count())

4953                 Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
14912       This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
21511                            this man and his son ruled England following the execution of King Charles I
23810    William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
27555                      This member of the Medici family was the mother-in-law of England's King Charles I
Name: question, dtype: object
49

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [3]:
def filter_rows(data,words):
    return data[
        data.question.apply(
            lambda row: all(w.lower() in row.lower() for w in words)
        )
    ]

results = filter_rows(jeopardy,["King", "England"])
print(results.question.head())
print(results.question.count())

4953                   Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337     In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                   This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710              This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454                                      It's the number that followed the last king of England named William
Name: question, dtype: object
152

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [4]:
jeopardy.value.unique()

array(['$200', '$400', '$600', '$800', '$2,000', '$1000', '$1200',
       '$1600', '$2000', '$3,200', 'no value', '$5,000', '$100', '$300',
       '$500', '$1,000', '$1,500', '$1,200', '$4,800', '$1,800', '$1,100',
       '$2,200', '$3,400', '$3,000', '$4,000', '$1,600', '$6,800',
       '$1,900', '$3,100', '$700', '$1,400', '$2,800', '$8,000', '$6,000',
       '$2,400', '$12,000', '$3,800', '$2,500', '$6,200', '$10,000',
       '$7,000', '$1,492', '$7,400', '$1,300', '$7,200', '$2,600',
       '$3,300', '$5,400', '$4,500', '$2,100', '$900', '$3,600', '$2,127',
       '$367', '$4,400', '$3,500', '$2,900', '$3,900', '$4,100', '$4,600',
       '$10,800', '$2,300', '$5,600', '$1,111', '$8,200', '$5,800',
       '$750', '$7,500', '$1,700', '$9,000', '$6,100', '$1,020', '$4,700',
       '$2,021', '$5,200', '$3,389', '$4,200', '$5', '$2,001', '$1,263',
       '$4,637', '$3,201', '$6,600', '$3,700', '$2,990', '$5,500',
       '$14,000', '$2,700', '$6,400', '$350', '$8,600', '$6,300', '$250',
       '$3,989', '$8,917', '$9,500', '$1,246', '$6,435', '$8,800',
       '$2,222', '$2,746', '$10,400', '$7,600', '$6,700', '$5,100',
       '$13,200', '$4,300', '$1,407', '$12,400', '$5,401', '$7,800',
       '$1,183', '$1,203', '$13,000', '$11,600', '$14,200', '$1,809',
       '$8,400', '$8,700', '$11,000', '$5,201', '$1,801', '$3,499',
       '$5,700', '$601', '$4,008', '$50', '$2,344', '$2,811', '$18,000',
       '$1,777', '$3,599', '$9,800', '$796', '$3,150', '$20', '$1,810',
       '$22', '$9,200', '$1,512', '$8,500', '$585', '$1,534', '$13,800',
       '$5,001', '$4,238', '$16,400', '$1,347', '$2547', '$11,200'],
      dtype=object)

In [6]:
jeopardy["value_float"] = jeopardy["value"].apply(lambda x: float(x[1:].replace(',','')) if x != "no value" else 0)
# print(jeopardy.head())

king_rows = filter_rows(jeopardy,["King"])
print("Average Value of questions that contain the word King : "+str(round(king_rows.value_float.mean(),2)))

Average Value of questions that contain the word King : 771.88

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [7]:
def count_unique_answers(data, words):
    filtered_rows = filter_rows(data,words).reset_index()
    unique_answer_count = filtered_rows.groupby('answer').index.count().reset_index(name = 'count').sort_values('count',ascending = False).reset_index(drop = True)
    return unique_answer_count

print(count_unique_answers(jeopardy,["King"]))

                           answer  count
0                      Henry VIII     55
1                         Solomon     35
2                     Richard III     33
3                       Louis XIV     31
4                           David     30
...                           ...    ...
5263         "A Room With A View"      1
5264  "A Midsummer Night's Dream"      1
5265    "A Brief History of Time"      1
5266                       "1984"      1
5267                        wings      1

[5268 rows x 2 columns]

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [9]:
def year_group(year):
    if 1984 <= year <= 1989:
        return "1980s"
    elif 1990 <= year <= 1999:
        return "1990s"
    elif 2000 <= year <= 2009:
        return "2000s"
    elif 2010 <= year <= 2012:
        return "2010s"
    else:
        return "Other"

jeopardy["year_group"] = jeopardy["year"].apply(year_group)

print(jeopardy["year_group"].value_counts())

year_group
2000s    123852
1990s     56745
2010s     28225
1980s      8108
Name: count, dtype: int64

In [10]:
# Ensure Air Date is datetime
jeopardy["air_date"] = pd.to_datetime(jeopardy["air_date"])

# Add Year column
jeopardy["year"] = jeopardy["air_date"].dt.year

# Filter by the word "Computer"
computer_rows = filter_rows(jeopardy, ["Computer"]).reset_index()

# # Count grouped by decades
count_by_decades = computer_rows.groupby('year_group').index.count().reset_index(name = 'count')

print(count_by_decades)

  year_group  count
0      1980s      6
1      1990s     98
2      2000s    268
3      2010s     59

In [11]:
category_by_round = (
    jeopardy.groupby(["jeo_round", "category"])
    .size()
    .reset_index(name="count")
    .sort_values(["jeo_round", "count"], ascending=[True, False])
)

pivot = category_by_round.pivot(index="category", columns="jeo_round", values="count").fillna(0)
print(pivot)

jeo_round                    Double Jeopardy!  Final Jeopardy!  Jeopardy!  \
category
 A JIM CARREY FILM FESTIVAL               0.0              0.0        5.0
"!"                                       0.0              0.0        5.0
"-ARES"                                   5.0              0.0        0.0
"-ICIAN" EXPEDITION                       0.0              0.0        5.0
"...OD" WORDS                             5.0              0.0        0.0
...                                       ...              ...        ...
â€œRâ€ MOVIES                                5.0              0.0        0.0
â€œSAINTSâ€                                  4.0              0.0        0.0
â€œSOUTHâ€                                   5.0              0.0        0.0
â€œSTREETSâ€                                 0.0              0.0        5.0
â€œWHâ€AT IS IT?                             5.0              0.0        0.0

jeo_round                    Tiebreaker
category
 A JIM CARREY FILM FESTIVAL         0.0
"!"                                 0.0
"-ARES"                             0.0
"-ICIAN" EXPEDITION                 0.0
"...OD" WORDS                       0.0
...                                 ...
â€œRâ€ MOVIES                          0.0
â€œSAINTSâ€                            0.0
â€œSOUTHâ€                             0.0
â€œSTREETSâ€                           0.0
â€œWHâ€AT IS IT?                       0.0

[27995 rows x 4 columns]

In [12]:
top_categories = (category_by_round
                  .sort_values(["jeo_round", "count"], ascending=[True, False])
                  .groupby("jeo_round")
                  .head(15))

print(top_categories)

              jeo_round                 category  count
2581   Double Jeopardy!           BEFORE & AFTER    450
7495   Double Jeopardy!               LITERATURE    381
10431  Double Jeopardy!                  SCIENCE    296
14275  Double Jeopardy!          WORLD GEOGRAPHY    254
9108   Double Jeopardy!                    OPERA    250
14278  Double Jeopardy!            WORLD HISTORY    237
2462   Double Jeopardy!                   BALLET    230
3661   Double Jeopardy!  COLLEGES & UNIVERSITIES    220
2210   Double Jeopardy!                      ART    215
6668   Double Jeopardy!                  ISLANDS    215
3573   Double Jeopardy!          CLASSICAL MUSIC    213
10593  Double Jeopardy!              SHAKESPEARE    211
2214   Double Jeopardy!            ART & ARTISTS    209
4865   Double Jeopardy!     FICTIONAL CHARACTERS    198
7128   Double Jeopardy!                LANGUAGES    198
16414   Final Jeopardy!          U.S. PRESIDENTS     50
16474   Final Jeopardy!             WORD ORIGINS     34
16136   Final Jeopardy!           STATE CAPITALS     31
14908   Final Jeopardy!                  AUTHORS     27
16503   Final Jeopardy!            WORLD LEADERS     26
15268   Final Jeopardy!         FAMOUS AMERICANS     24
15287   Final Jeopardy!             FAMOUS NAMES     24
15475   Final Jeopardy!           HISTORIC NAMES     24
15016   Final Jeopardy!      BUSINESS & INDUSTRY     23
15845   Final Jeopardy!            ORGANIZATIONS     19
16387   Final Jeopardy!              U.S. CITIES     19
16492   Final Jeopardy!           WORLD CAPITALS     19
16499   Final Jeopardy!          WORLD GEOGRAPHY     19
14819   Final Jeopardy!         AMERICAN HISTORY     17
14848   Final Jeopardy!                AMERICANA     17
26469         Jeopardy!                POTPOURRI    255
28215         Jeopardy!           STUPID ANSWERS    255
27870         Jeopardy!                   SPORTS    253
18664         Jeopardy!                  ANIMALS    233
18494         Jeopardy!         AMERICAN HISTORY    227
27254         Jeopardy!                  SCIENCE    217
28044         Jeopardy!           STATE CAPITALS    210
28457         Jeopardy!               TELEVISION    200
30457         Jeopardy!              U.S. CITIES    195
19641         Jeopardy!      BUSINESS & INDUSTRY    185
30474         Jeopardy!           U.S. GEOGRAPHY    183
20352         Jeopardy!             COMMON BONDS    180
26415         Jeopardy!                POP MUSIC    180
30215         Jeopardy!           TRANSPORTATION    178
26160         Jeopardy!                   PEOPLE    175
31683        Tiebreaker             CHILD'S PLAY      1
31684        Tiebreaker      LITERARY CHARACTERS      1
31685        Tiebreaker  THE AMERICAN REVOLUTION      1

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.

In [13]:
# Small helper to normalize answers
def normalize(text):
    if not isinstance(text, str):
        return ""
    return text.strip().lower()

# Function to let user pick 1 category out of 5 random ones
def choose_category(df, n=5):
    # Get unique categories (dropping missing ones)
    categories = df["category"].dropna().unique()

    # Ensure we don't sample more than available
    n = min(n, len(categories))

    # Use pandas' own randomness
    sampled = pd.Series(categories).sample(n).tolist()

    print("\nChoose a category:")
    for i, cat in enumerate(sampled, start=1):
        print(f"{i}. {cat}")

    while True:
        choice = input(f"Enter a number (1-{n}): ")
        if choice.isdigit():
            choice = int(choice)
            if 1 <= choice <= n:
                return sampled[choice - 1]
        print("Invalid choice, try again.")

Choose a category:
1. "PEACE"
2. DESPERATE MEASURES
3. WAXING PHILOSOPHICAL
4. THOSE WACKY CANADIANS
5. COFFEE, TEA OR MILK

Enter a number (1-5):  2

DESPERATE MEASURES

In [21]:
# Ask one random question from the chosen category
def ask_question_from_category(df, category):
    # Filter all questions in that category
    subset = df[df["category"] == category]

    if subset.empty:
        print(f"No questions found for category: {category}")
        return

    # Pick one random question
    row = subset.sample(1).iloc[0]

    question = row["question"]
    answer = row["answer"]

    print("\ncategory:", category)
    print("question:")
    print(question)

    user_answer = input("\nYour answer: ")

    if normalize(user_answer) == normalize(answer):
        print("You won this round ðŸŽ‰")
    else:
        print("There's always another chance :)")
        print("Correct answer was:", answer)

In [30]:
def play_quiz_round(df):
    category = choose_category(df)
    ask_question_from_category(df, category)

# Run this to start:
play_quiz_round(jeopardy)

Choose a category:
1. TEXAS CITIES
2. LANGUAGE CRAFT
3. FIDDLESTICKS!
4. DO YOU KNOW JACK ABOUT LIT?
5. GONE FISHIN'

Enter a number (1-5):  4

category: DO YOU KNOW JACK ABOUT LIT?
question:
In this novel Jack Merridew, a red-haired choir boy, tells Piggy, "You're talking too much!"

Your answer:  Lord of the Flies

You won this round ðŸŽ‰