In [60]:
import pandas as pd

Import all the files

In [61]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

Step 1: Inspect the DataFrames using `print` and `head`

In [59]:
print(visits.head(5))
print(cart.head(5))
print(checkout.head(5))
print(purchase.head(5))

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Step 2: Left merging visits and cart

In [23]:
v_to_c  = pd.merge(visits,cart,how = 'left')
print(v_to_c.head(5))

                                user_id          visit_time  \
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00

            cart_time
0                 NaT
1 2017-01-26 14:44:00
2 2017-08-20 08:31:00
3                 NaT
4                 NaT

Step 3: How long is `visits_cart`?

In [24]:
v_to_c['v_to_c_time']  = visits_cart.cart_time - visits_cart.visit_time
print(v_to_c)

                                   user_id          visit_time  \
0     943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1     0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2     6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3     6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4     a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
...                                    ...                 ...
1995  33913ac2-03da-45ae-8fc3-fea39df827c6 2017-03-25 03:29:00
1996  4f850132-b99d-4623-80e6-6e61d003577e 2017-01-08 09:57:00
1997  f0830b9b-1f5c-4e74-b63d-3f847cc6ce70 2017-09-07 12:56:00
1998  b01bffa7-63ba-4cd3-9d93-eb1477c23831 2017-07-20 04:37:00
1999  0336ca81-8d68-443f-9248-ac0b8ad147d5 2017-11-15 10:11:00

               cart_time     v_to_c_time
0                    NaT 0 days 00:20:00
1    2017-01-26 14:44:00 0 days 00:08:00
2    2017-08-20 08:31:00 0 days 00:10:00
3                    NaT 0 days 00:08:00
4                    NaT 0 days 00:22:00
...                  ...             ...
1995                 NaT             NaT
1996                 NaT             NaT
1997                 NaT             NaT
1998                 NaT             NaT
1999                 NaT             NaT

[2000 rows x 4 columns]

Step 4: How many timestamps are null for `cart_time`?

In [28]:
v_but_no_c = v_to_c[v_to_c.cart_time.isnull()]
print(v_but_no_c)
v_but_no_c_count  = v_but_no_c.user_id.count()
print(v_but_no_c_count)

                                   user_id          visit_time cart_time  \
0     943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00       NaT
3     6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00       NaT
4     a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00       NaT
5     7bc62113-d51d-4e6b-85e0-1cf29e3de74a 2017-06-03 20:05:00       NaT
6     6f22cd44-bc63-4449-a9af-2651859da2f9 2017-03-18 23:09:00       NaT
...                                    ...                 ...       ...
1995  33913ac2-03da-45ae-8fc3-fea39df827c6 2017-03-25 03:29:00       NaT
1996  4f850132-b99d-4623-80e6-6e61d003577e 2017-01-08 09:57:00       NaT
1997  f0830b9b-1f5c-4e74-b63d-3f847cc6ce70 2017-09-07 12:56:00       NaT
1998  b01bffa7-63ba-4cd3-9d93-eb1477c23831 2017-07-20 04:37:00       NaT
1999  0336ca81-8d68-443f-9248-ac0b8ad147d5 2017-11-15 10:11:00       NaT

         v_to_c_time
0    0 days 00:20:00
3    0 days 00:08:00
4    0 days 00:22:00
5    0 days 00:17:00
6    0 days 00:28:00
...              ...
1995             NaT
1996             NaT
1997             NaT
1998             NaT
1999             NaT

[1652 rows x 4 columns]
1652

Step 5: What percentage only visited?

In [40]:
v_to_c['is_cart'] = ~v_to_c.cart_time.isnull()
v_to_c_grouped = v_to_c.groupby('is_cart').user_id.count().reset_index()
print(v_to_c_grouped)


v_to_c_grouped['percent'] =  (v_to_c_grouped.user_id/v_to_c_grouped.user_id.sum())*100
print(v_to_c_grouped)

   is_cart  user_id
0    False     1652
1     True      348
   is_cart  user_id  percent
0    False     1652     82.6
1     True      348     17.4

Step 6: What percentage placed a t-shirt in their cart but did not checkout?

In [43]:
cart_to_checkout =  pd.merge(cart,checkout,how='left')
cart_to_checkout['is_checkout']  =  ~cart_to_checkout.checkout_time.isnull()
# print(cart_to_checkout)

c_to_co_grouped = cart_to_checkout.groupby('is_checkout').user_id.count().reset_index()
print(c_to_co_grouped)


c_to_co_grouped['percent'] =  (c_to_co_grouped.user_id/c_to_co_grouped.user_id.sum())*100
print(c_to_co_grouped)

   is_checkout  user_id
0        False      122
1         True      226
   is_checkout  user_id    percent
0        False      122  35.057471
1         True      226  64.942529

Step 7: Merge it all together

In [62]:
all_data  = visits.merge(cart, how='left').merge(checkout, how='left').merge(purchase, how='left')
print(all_data)

                                   user_id          visit_time  \
0     943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1     0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2     6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3     6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4     a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
...                                    ...                 ...
2103  33913ac2-03da-45ae-8fc3-fea39df827c6 2017-03-25 03:29:00
2104  4f850132-b99d-4623-80e6-6e61d003577e 2017-01-08 09:57:00
2105  f0830b9b-1f5c-4e74-b63d-3f847cc6ce70 2017-09-07 12:56:00
2106  b01bffa7-63ba-4cd3-9d93-eb1477c23831 2017-07-20 04:37:00
2107  0336ca81-8d68-443f-9248-ac0b8ad147d5 2017-11-15 10:11:00

               cart_time       checkout_time       purchase_time
0                    NaT                 NaT                 NaT
1    2017-01-26 14:44:00 2017-01-26 14:54:00 2017-01-26 15:08:00
2    2017-08-20 08:31:00                 NaT                 NaT
3                    NaT                 NaT                 NaT
4                    NaT                 NaT                 NaT
...                  ...                 ...                 ...
2103                 NaT                 NaT                 NaT
2104                 NaT                 NaT                 NaT
2105                 NaT                 NaT                 NaT
2106                 NaT                 NaT                 NaT
2107                 NaT                 NaT                 NaT

[2108 rows x 5 columns]

Step 8: % of users who got to checkout but did not purchase

In [86]:
all_data['is_checkout'] = ~all_data.checkout_time.isnull()
all_data['is_purchase'] = ~all_data.purchase_time.isnull()
# print(all_data)
all_checkouts  = all_data[all_data.is_checkout == True]
# print(all_checkouts)
c_to_p_grouped = all_checkouts.groupby(['is_checkout','is_purchase']).user_id.count().reset_index()
c_to_p_grouped['percent']  = (c_to_p_grouped.user_id/c_to_p_grouped.user_id.sum())*100
print(c_to_p_grouped)

   is_checkout  is_purchase  user_id    percent
0         True        False       82  24.550898
1         True         True      252  75.449102

Step 9: check each part of the funnel, let's print all 3 of them again

In [89]:
print(v_to_c_grouped)
print(c_to_co_grouped)
print(c_to_p_grouped)

   is_cart  user_id  percent
0    False     1652     82.6
1     True      348     17.4
   is_checkout  user_id    percent
0        False      122  35.057471
1         True      226  64.942529
   is_checkout  is_purchase  user_id    percent
0         True        False       82  24.550898
1         True         True      252  75.449102

*The weakest part of the funnel is clearly getting a person who visited the site to add a tshirt to their cart. Once they've added a t-shirt to their cart it is fairly likely they end up purchasing it. A suggestion could be to make the add-to-cart button more prominent on the front page.*


Step 10: adding new column

In [96]:
all_purchase_data = all_data[all_data.is_purchase == True].reset_index()
all_purchase_data['visit_to_purchase_time']  = all_purchase_data.purchase_time - all_purchase_data.visit_time
print(all_purchase_data.head())

   index                               user_id          visit_time  \
0      1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
1     14  486480e2-98c3-4d51-8f4b-b1c07228ce84 2017-01-27 16:34:00
2     48  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:21:00
3     49  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:21:00
4     65  ab0125fc-9493-4f59-ad70-24ad264a3a0c 2017-11-18 03:21:00

            cart_time       checkout_time       purchase_time  is_checkout  \
0 2017-01-26 14:44:00 2017-01-26 14:54:00 2017-01-26 15:08:00         True
1 2017-01-27 16:44:00 2017-01-27 17:10:00 2017-01-27 17:12:00         True
2 2017-01-08 20:38:00 2017-01-08 20:52:00 2017-01-08 21:02:00         True
3 2017-01-08 20:38:00 2017-01-08 20:52:00 2017-01-08 21:21:00         True
4 2017-11-18 03:33:00 2017-11-18 03:57:00 2017-11-18 04:21:00         True

   is_purchase visit_to_purchase_time
0         True        0 days 00:44:00
1         True        0 days 00:38:00
2         True        0 days 00:41:00
3         True        0 days 01:00:00
4         True        0 days 01:00:00

Step 11: examine the results

In [97]:
print(all_purchase_data.visit_to_purchase_time)

0     0 days 00:44:00
1     0 days 00:38:00
2     0 days 00:41:00
3     0 days 01:00:00
4     0 days 01:00:00
            ...
247   0 days 00:29:00
248   0 days 00:46:00
249   0 days 00:32:00
250   0 days 00:28:00
251   0 days 00:11:00
Name: visit_to_purchase_time, Length: 252, dtype: timedelta64[ns]

Step 12: average time to purchase

In [98]:
avg_time_to_purchase = all_purchase_data.visit_to_purchase_time.mean()
print(avg_time_to_purchase)

0 days 00:43:12.380952380